body{
    background-color: #1B4D3E;
}
*{
    color: snow;

}

/* manera correcta de hacer un menu responsive <3 */
.navbar {
    background-color: #1B4D3E; /* Color de fondo de la barra de navegación */
    padding: 10px; /* Espacio de relleno interno de la barra de navegación */
}
nav{
    position: fixed;
}
.navbar-brand {
    font-size: 14px; /* Tamaño de fuente del logotipo */
    font-weight: bolder; /* Peso de la fuente del logotipo */
}

.navbar-brand .logo {
    color: azure; /* Color del texto del logotipo */
    text-align: left;
    margin-right: 10px;
    font-weight: 10px;
}
.navbar-brand .logo span {
    color: chocolate; /* Color del texto destacado del logotipo */
}

.navbar-nav .nav-item {
    margin: 0px; /* Espacio entre elementos del menú */
}

.navbar-nav .nav-link {
    color: azure; /* Color del texto del enlace */
    font-weight: bold; /* Peso de la fuente del enlace */
}

.navbar-nav .nav-link:hover {
    color: burlywood; /* Color del texto del enlace al pasar el cursor */
}

.navbar-toggler-icon {
    border-color: #333333; /* Color del icono del botón desplegable */
}

.nav-item{
    margin: 100px;
}

.navbar-toggler{
    margin: 4px;
}
/* hasta aqui :* */

h2,h4,h5{
    text-align: center;
}

.cuadrado{
    margin: 8px;
    width: 120px;
    height: 100px;
    background: none;
}

.container{
    margin: 10px;
    margin-left: 100px;
}

.btn-1{
    padding: 5px;
    padding-block: 100px;
    color: azure;
    background-color: darkorange;
    background-image: url(img/images\ \(1\).jpeg);
    background-size: cover;
    text-decoration: none;
    text-shadow: none;
    height: 180px;
    width: 180px;
    display: flex;
    text-align: center;
    border-radius: 10%;
    margin: 10px;
}

.btn-2{
    padding: 5px;
    padding-block: 100px;
    color: azure;
    background-color: gold;
    background-image: url(img/images\(2\).jpeg);
    background-size: cover;
    text-decoration: none;
    text-shadow: none;
    height: 180px;
    width: 180px;
    display: flex;
    text-align: center;
    border-radius: 10%;
    margin: 10px;

}
.btn-3{
    padding: 5px;
    padding-block: 100px;
    color: azure;
    background-color: goldenrod;
    background-image: url(img/images.jpeg);
    background-size: cover;
    text-decoration: none;
    text-shadow: none;
    height: 180px;
    width: 180px;
    display: flex;
    text-align: center;
    border-radius: 10%;
    margin: 10px;

}
.btn-4{
    padding: 6px;
    padding-block: 100px;
    color: azure;
    background-color: thistle;
    background-image: url(img/descarga.jpeg);
    background-size: cover;
    text-decoration: none;
    text-shadow: none;
    height: 180px;
    width: 180px;
    display: flex;
    text-align: center;
    border-radius: 10%;
    margin: 10px;
}

.btn-1:hover{
    filter: grayscale(40%);
}
.btn-2:hover{
    filter: grayscale(40%);
}
.btn-3:hover{
    filter: grayscale(40%);
}
.btn-4:hover{
    filter: grayscale(40%);
}


.atras{
    margin-left: 100px;
    height: 100px;
    width: 100px;
    font-size: 22px;
}

footer{
    margin-block-start: 10px;
    text-align: center;
    height: 150px;
}
footer p{
    margin-bottom: 20px;
    color: azure;
}
footer .redes a{
    color: azure; 
    text-decoration: none;
}
footer .redes i{
    color: azure;
    font-style: 50px;
}
.correo{
    margin: 20px;
}
.linkedin{
    margin: 20px;
}
.github{
    margin: 20px;
}
.copyright{
    margin: 20px;
}

/* Autos disponibles */

.container-productos {
    height: 100px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

#container-productos{
    margin-left: 70px !important;
}

.card-productos {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.nombre {
    font-size: 16px;
    margin-bottom: 5px;
}

.img-productos {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.precio {
    margin-bottom: 10px;
}

.boton-productos {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Compra final */

#container-carrito {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-carrito {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 240px;
}

.nombre-carrito {
    font-size: 18px;
    margin-bottom: 5px;
}

.img-carrito {
    width: 140px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.precio-carrito {
    font-weight: bold;
    margin-bottom: 5px;
}

.cantidad-carrito {
    margin-bottom: 5px;
}

.boton-carrito {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.total {
    font-weight: bold;
    margin-top: 20px;
}

.tituloTotal {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

/* Boton de redireccion */

.button1{
    color: azure;
    text-decoration: none;
    text-shadow: none;
    display: flexbox;
    text-align: center;
}

.button1:hover{
    color: #4CAF50;
}

.button2{
    color: azure;
    text-decoration: none;
    text-shadow: none;
    display: flexbox;
    text-align: center;
}

.button2:hover{
    color: #4CAF50;
}

@media only screen and (min-width: 0px) {
    *{
        font-size: 12px;
    }

}

@media only screen and (min-width: 350px) {
    *{
        font-size: 14px;
    }

}

@media only screen and (min-width: 576px) {
    .container{
        margin: 10px;
        margin-left: 40px;
    }

    #container-productos{
        margin-left: 180px !important;
    }
}

@media only screen and (min-width: 768px) {

    *{
        font-size: 16px;
    }

    .container{
        margin: 10px;
        margin-left: 80px;
    }

    #container-productos{
        margin-left: 280px !important;
    }
}

@media only screen and (min-width: 992px) {
    .container{
        margin: 10px;
        margin-left: 20px;
    }

    #container-productos{
        margin-left: 380px !important;
    }
}

@media only screen and (min-width: 1084px) {
    .container{
        margin: 10px;
        margin-left: 80px;
    }

    #container-productos{
        margin-left: 460px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .container{
        margin: 10px;
        margin-left: 80px;
    }

    #container-productos{
        margin-left: 460px !important;
    }
}

@media only screen and (min-width: 1284px) {
    .container{
        margin: 10px;
        margin-left: 100px;
    }

    #container-productos{
        margin-left: 580px !important;
    }
}